@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #B76CC1, #AE84CC, #C9B4EC, #D8AAE8, #EEC3F0, #E9DAF7, #D7F2F9, #E6F4FD, #F6D2FE, #EC99EB);
}

main {
    background-color: white;
    border-radius: 20px;
    width: 1200px;
    margin: auto;
    box-shadow: 5px 5px 15px #450961;
    padding: 10px;
}

h1 {
    color: #EC99EB;
}

h2 {
    color: #AE84CC;
}

img {
    border-radius: 10px;
}

p {
    color: #B76CC1;
}